%h2 Create New Movie

= form_tag games_path, :method => :post do
 = label :game, :title, 'Title'
 = text_field :game, :title
 = label :game, :rating, 'Rating'
 = select :game, :rating, ['G','PG','PG-13','R','NC-17']
 = label :game, :release_date, 'Released On'
 = date_select :game, :release_date
 = submit_tag 'Save Changes'
